mixin crearProyecto( proyecto = {} )

    form.agregar-proyecto.sombra(action=`/nuevo-proyecto/${proyecto.id || ''}` method='POST')
        .campo  
            label(for="nombre") Nombre Proyecto 
            input#nombre( value=proyecto.nombre type="text" name='nombre' placeholder='Nombre proyecto')   
        .campo-enviar 
            input.boton(type="submit", value=`${proyecto.nombre ? 'Actualizar': 'Guardar'}`)